.home-container {
    min-height: 70vh;
}

.home-container button {
    background-color: #14213d;
    border-radius: 9px;
    font-size: 18px;
    color: #fff;
    padding: 10px 22px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 10px 20px;
}